body {
  background-color: lightblue;
  margin: 2%;
  font-family: 'Catamaran', sans-serif;
}

h1{
  font-family: 'Pacifico', cursive;
  color: rgba(75, 75, 75, .8);
}
/*.pageWrap{
  width: 1000px;
  margin: 0 auto;
}*/
header{
  width: 70%;
  margin: 30px auto;
}

* {
  box-sizing: border-box;
}

input[name='stillNeeded'] {
  width: 25%;
}

input[name='description'] {
  display: flex;
  max-width: 100%;
}

#stillNeeded:not(:focus) {
  border: 1px solid red;
}
.module-card-wrap {
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  /*flex-flow: row wrap;*/
  margin: 0 auto;
}

.module-card-button-wrap{
  display: flex;
  /*flex-wrap: wrap;*/
  /*margin: 0 auto;*/
  justify-content: center;
}

.module-card {
  background: #fff;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
  min-width: 275px;
  /*width: 200px;*/
  padding: 10px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.module-card-name {
  font-size: 120%;
  font-weight: 700;
}

.module-card-meta {
  display: flex;
}

.module-card-category, .module-card-new {
  flex: 1;
}

.module-card-new {
  text-align: right;
}

.module-card-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* a flex: 1 also works here, but is buggy on IE11 */
}

.module-card-img {
  margin: 20px 0;
  align-self: center;
  width: 100%;
  height: auto;
}

.module-card-button {
  background: seagreen;
  color: white;
  border: none;
  margin-top: auto;
  padding: 10px;
  width: 90%;
  margin: 15px;
}

[contentEditable=true]:empty:not(:focus):before{
  /*content: attr(data-text);*/
  color: lightgrey;
  font-weight: normal;
}

@media screen and (min-width: 1400px) {
  .module-card {
    width: 24%;
    max-width: 350px;
    margin: 0 auto 2%;
  }
}
@media screen and (max-width: 1400px) and (min-width: 980px) {
  .module-card {
    width: 32%;
    margin: 0 auto 2%;
  }
}
@media screen and (max-width: 980px) and (min-width: 650px){
  .module-card {
    width: 47%;
    margin: 0 auto 2%;
  }
}
@media screen and (max-width: 650px){
  .module-card {
    width: 70%;
    margin: 0 auto 2%;
    min-width: 250px;
  }
}
/*under 650 increase their size to 85%*/
/*1400+ 3 columns
950-1400 2 columns
under 950 1 column*/
